* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
}

body {
  background: #19181a;
}

.logo {
  width: 500px;
  display: block;
  margin: 20px auto;
  background: #111010;
}

main {
  width: 375px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  padding: 44px 24px 23px;
}

label {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  margin-bottom: 6px;
}

select,
input {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 24px;
  padding-left: 18px;
  font-weight: 700;
  font-size: 16px;
  color: #555555;
}

button {
  background: rgb(14, 94, 14);
  border-radius: 5px;
  width: 100%;
  border: none;
  height: 48px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

section {
  border: 1px solid #772fd3;
  border-radius: 20px;
  margin-top: 36px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seta {
  margin: 15px 0;
  width: 35px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.moeda-nome {
  color: #777777;
  font-size: 14px;
}

.moeda-valor .moeda-valorD {
  color: #555555;
  font-size: 20px;
  font-weight: 700;
}